<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试题风格</title>
    <link rel="stylesheet" type="text/css" href="../../common/js/greateJS/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../common/js/greateJS/themes/icon.css">
    <link rel="stylesheet" href="../../common/css/main.css">
    <link rel="stylesheet" href="../../common/css/questions/questions.css">
    <script type="text/javascript" src="../../common/js/greateJS/jquery.min.js"></script>
    <script type="text/javascript" src="../../common/js/greateJS/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../common/js/questions/questions.js"></script>
</head>
<body class="easyui-layout"style="overflow-y: hidden" >
    <div region="center" class="content" >
        <h1>2016年第一批次认证试题</h1>
        <div class="easyui-tabs" fit="true">
            <div title="1—10">
                <ul class="questionItem">
                    <li class="item">
                        <p class="title">1.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">2.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">3.屋顶是否有破损</p>
                        <span ><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">4.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">5.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">1.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">2.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">3.屋顶是否有破损</p>
                        <span ><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                </ul>
            </div>
            <div title="10—20">
                <ul class="questionItem">
                    <li class="item">
                        <p class="title">1.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">2.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">3.屋顶是否有破损</p>
                        <span ><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">4.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">5.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">1.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">2.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">3.屋顶是否有破损</p>
                        <span ><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                </ul>
            </div>
            <div title="20—30">
                <ul class="questionItem">
                    <li class="item">
                        <p class="title">1.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">2.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">3.屋顶是否有破损</p>
                        <span ><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">4.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">5.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">1.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">2.屋顶是否有破损</p>
                        <span><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                    <li class="item">
                        <p class="title">3.屋顶是否有破损</p>
                        <span ><input type="radio" name="one" value="yes">yes</span>
                        <span><input type="radio" name="one" value="no">no</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>