<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动漫集锦</title>
    <link rel="icon" href="../../image/main/icon-title.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../../stylesheets/neat.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/manga/manga.css">
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../javascript/manga/manga.js"></script>
</head>
<body>
<header>
    <a href="#" class="logo">前端之路</a>
    <ul class="header-nav">
        <li><a href="../main/main.html" >首页</a></li>
        <li><a href="../manga/manga.html" class='active'>动漫</a></li>
        <li><a href="../404/closeSite.html">游戏</a></li>
        <li><a href="../404/404.html">案例</a></li>
        <li>
            <a href="#" id="logOff" class="seek">
                <span>退出登录</span>
            </a>
        </li>
    </ul>
</header>
<div class="top"><div class="top_content"></div></div><script type="text/javascript" src="../../javascript/manga/picwall.js"></script>

</body>
</html>