<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>前端之路</title>
    <link rel="stylesheet" href="../../stylesheets/neat.css" type="text/css">
    <link rel="stylesheet" href="../../stylesheets/start/mainPage.css">
    <link rel="stylesheet" href="../../stylesheets/start/start.css" type="text/css">
    <script src="../../javascript/start/judgeBrowser.js"></script>
</head>
<body>
<div class="mainFrame">
    <div class="mainBg">
        <div class="radialBg"></div>
        <canvas id="canvas" width="1920" height="1080"></canvas>
    </div>
    <div class="mainWord">
        <!--  <embed id="svgWord" pluginspage="http://www.adobe.com/svg/viewer/install/" src="svg/word.svg" type="image/svg+xml">-->
        <embed id="svgWord" pluginspage="http://www.adobe.com/svg/viewer/install/" type="image/svg+xml">
    </div>
</div>
<div class="wrap">
    <div class="left-side">
        <img src="../../image/main/icon-title.png" class="logo">
        <h1>Vijay </h1>
        <small>个人博客</small>
    </div>
    <div class="right-side">
        <ul>
            <li><a href="../main/main.html">主页</a></li>
            <li><a href="#">学习资源</a></li>
            <li><a href="#">笔记</a></li>
            <li><a href="#">作品</a></li>
            <li><a href="#">个人爱好</a></li>
        </ul>
        <ol>
            <li>Perhaps I do not know life's sake</li>
            <li>Wandering man chasing shadows</li>
        </ol>
    </div>
</div>
</body>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../javascript/start/mainBg.js"></script>
</html>