<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>雾里看花</title>
    <link rel="icon" href="../../image/main/icon-title.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../stylesheets/neat.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/login/login.css">
    <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <figure id="bgChange">
            <img src="../../image/login/loginbg1.jpg" class="imgStyle">
            <img src="../../image/login/loginbg2.jpg" class="imgStyle">
            <img src="../../image/login/loginbg3.jpg" class="imgStyle">
        </figure>
        <div class="pageBg"></div>
        <section class="login">
            <div class="form-row">
                <label for="userName">用户名</label>
                <input type="text" id="userName" class="form-input" placeholder="用户名">
            </div>
            <div class="form-row">
                <label for="userPwd">密码</label>
                <input type="password" id="userPwd" class="form-input" placeholder="密码">
            </div>
            <div class="form-row">
                <button type="button" class="btn-login" onclick="btnOk()">登录</button>
            </div>
        </section>
    </div>
</body>
<script type="text/javascript" src="../../javascript/login/login.js"></script>
</html>