<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/Login/login.css">
    <link rel="stylesheet" type="text/css" href="../../common/js/greateJS/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../common/js/greateJS/themes/icon.css">
    <script type="text/javascript" src="../../common/js/greateJS/jquery.min.js"></script>
    <script type="text/javascript" src="../../common/js/greateJS/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout" fit="true">
<div class="header">
    <img src="../../common/images/headerBg.jpg" class="imgBg">
    <div class="logo">
        <img src="../../common/images/logo.png">
    </div>
</div>
<div class="content">
    <img src="../../common/images/loginBg.jpg" class="imgBg">
    <form class="loginbox">
        <h3>密码登录</h3>
        <div class="row">
            <label class="icon-user" for="username"></label><input id="username" class="logintext" type="text" placeholder="用户名">
        </div>
        <div class="row">
            <label class="icon-pwd" for="userPwd"></label><input id="userPwd" class="logintext" type="text" placeholder="密码">
        </div>
        <div class="row" style="border: 0">
            <label class="icon-ver" for="ver"></label><input id="ver" class="logintext verInput" type="text" placeholder="验证码">
            <img src="../../common/images/icon_04.png" class="verImg">
        </div>
        <a href="javascript:void(0)" id="btnLogin" class="login-btn">登录</a>
    </form>
</div>
<div class="footer">
    <p>&copy;&nbsp;2016长城汽车销售有限公司&nbsp;版权所有</p>
</div>

<script type="text/javascript" src="../../common/js/Login/login.js"></script>
</body>
</html>